.main{
    display: grid;
    grid-template-columns: repeat(5);
}
.icon{
    height: 2em;
    padding-left: 2rem;
}
.sub{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.selected{
    font-weight: bold;
}
.primary{
    align-items: center;
    justify-content: center;
    display: flex;
}
.card-img-top{
    height: 7vw;
    width: 7vw;
}
.card{align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: hsl(207, 14%, 46%);
}
table{
    background-color: hsl(207, 14%, 46%);
}