<div class="primary" *ngIf="primaryDisplay">
 
    <ul class="main" *ngFor="let forecast of weatherData;let i =index">
        <div class="card" style="width: 13rem;">
            <img src="../assets/images/{{forecast.weather[0].icon}}.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{forecast.dt_txt | date:'EEE, MMM dd'}}</h5>
              <p class="card-text">{{forecast.main.temp_min | number:'1.0-0'}}°C / {{forecast.main.temp_max | number : '1.0-0'}}°C</p>
              <div class="btn btn-outline-info">{{forecast.weather[0].main}}</div>
            </div>
          </div>
        
    </ul>
</div>
 <div *ngIf="secondaryDisplay">
     <h3>5-Day Forecast</h3>
     <ul class="sub">
         <li *ngFor="let forecast of weatherData; let i=index" [ngClass]="{'selected':selectedIndex==i}">
            <span (click)="showDetails(weatherData[i],i)">{{forecast.dt_txt | date: 'EEE'}}</span>
         </li>
         <i class="fa fa-caret-up" aria-hidden="true" (click)="toggle(undefined,undefined)"></i>
     </ul>
     <div >
        {{forecastDetails.main.temp | number:'1.0-0'}}C
     </div>
 </div>