<div *ngIf="weatherNow" class="cardup">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 resim">
            <img src="../assets/images/{{weatherNow.weather[0].icon}}.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
                <div class="time">
                    {{currentTime | date:"HH:mm - EE MMM"}}
                </div>
                <div class="location" >{{location.name}}, {{location.country}} </div>
                <h3>{{ weatherNow.main.temp | number:'1.0-0'}}°C</h3>
                <div class="main">
                    Feels Like  {{weatherNow.main.feels_like | number: '1.0-0'}}. {{weatherNow.weather[0].main}}. {{weatherNow.weather[0].description}}
                  </div>
                  <div class="sub">
                    Humidity: {{weatherNow.main.humidity}}%
                </div>
            </div>
          </div>
        </div>
      </div> 
    
    <div class="timeline">
        <h1 class="text-white">
            3-hour Forecast
        </h1>
        <table class="table text-white table-bordered" *ngFor="let item of timeline">
            <thead><th scope="col">{{item.time | date: 'HH:mm'}}</th> </thead>
            <tbody><tr>
                {{item.temp | number: '1.0-0'}}°C
               </tr></tbody>
           
        </table>
        
    </div>
</div>
